.menu {

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: wheat;

    :first-child {
      max-width: 200px;
    }
  }

  &__jump {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-height: 200px;
    padding: 1em;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border: 1px solid black;
    position: relative;
  }

  &__item-num {
    background-color: #a02c2e;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    display: flex;
    justify-content: center;
  }

  &__description {
    flex-grow: 1;
    padding-left: 1em;
  }
}

.photo {
  width: 100%;
}
